<component name="ArtifactManager">
  <artifact type="war" name="springboot-shiro-mgt:war">
    <output-path>$PROJECT_DIR$/课程代码/springboot-shiro-mgt/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-shiro-mgt</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-shiro-mgt-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-shiro-mgt:war exploded" />
    </root>
  </artifact>
</component>